@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Noto Serif", serif;
    background-image: url(Terminal.jpg);
    background-size: auto;
}

img {
    margin-right: 150px;
}

h1 {
    color: blue;
  }

h2 {
    color: red;
}

p {
    color: white
}





