body {
    background-image: url(pokemonbg.jpg);
    background-repeat: no-repeat, repeat;
    background-position: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 50px;
}

.card {
    background-image: url(pokeball.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
    padding: 0;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

img {
    width: auto;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: white;
}

p {
    color: white;
    margin: 5px 0;
}

.type-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.types {
    display: flex;
    flex-wrap: wrap; 
}

p.type1,p.type2 {
    display: inline-block;
    padding: 4px 50px;
    border-radius: 5px;
    margin: 0 5px; 
}

p.type1.fire {
    background-color: firebrick;
}

p.type1.electric {
    background-color: #b7b707;
}

p.type1.water {
    background-color: rgba(6, 6, 141, 0.697);
}

p.type1.ground {
    background-color: #5f3806;
}

p.type1.grass {
    background-color: rgb(134, 186, 56);
}

p.type2.poison {
    background-color: violet;
}

.details {
    text-align: center;
    flex-grow: 1;
    padding: 10px;
    border-radius: 0 0 25px 25px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details.yellow {
    background-color: #ded412;
}

.details.blue {
    background-color: #0400f8;
}

.details.brown {
    background-color: #955b0e;
}

.details.orange {
    background-color: rgb(255, 166, 0);
}

.details.green {
    background-color: green;
}

.buttons {
    margin-top: 10px;
}

button.include {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button.reveal {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button.include:hover {
    background-color: darkgreen;
}

button.reveal:hover {
    background-color: darkred;
}
